<div class="row">
    <div class="col-md-8 col-md-offset-2 activity-list">
        <div class="col-md-12" style="padding-bottom: 20px;">
            <div style="float: left;">
                <h2>ALL MOMENTS</h2>
            </div>
            <div style="float: right;">
                <a ui-sref="root.moments.moments">
                    <img src="/images/mindset_toggle_activities.png">
                </a>
            </div>
        </div>
        <moment-view
            class="col-md-4 moment-container"
            ng-click="toggleMoment(moment)"
            ng-if="showMoment(moment) && !moment.deleted"
            moment="moment"
            ng-repeat="moment in moments"
        ></moment-view>
    </div>
</div>