.profile_page {
	
	padding-top: 30px;

	.side_spacer {
		/*
		@include make-xs-column(1);
		*/
	}

	.view {
		padding: 0px 20%;
		/*
		@include make-xs-column(10);
		*/
	}

	.user_icon {
		margin: 8px auto;
	    background: #D8D8D8;
	    color: #7A7A7A;
	    text-align: center;
	    padding-top: 12px;
	    width: 100px;
	    height: 100px;
	    border-radius: 50%;
	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	}

	.question_holder {
		max-width: 400px;
		margin: 0px auto;
	}

	.question_section {
		padding-bottom: 15px;
	}
}