// Cool Palette
$color-teal: rgb(5,117,101);
$color-turquoise: rgb(42,171,149);
$color-pale-turquoise: rgb(144,216,207);

// Warm Palette
$color-tomato: rgb(225,88,55);
$color-tangerine: rgb(249,230,10);
$color-lemon-lime: rgb(249,230,10);

$color-gray: #F4F4F4;
$color-light-gray: #F8F8F8;
$color-dark-gray: #A3A5A7;

// General colors
$text-light: white;

$background-light: gray;
$background-header: $color-turquoise;

// Headers
$moment-header-height: 42px;

$box-shadow-default: 0px 1px 1px 0px rgba(0,0,0,0.50);

// Cell Dimensions

$cell-height: 180px;
$cell-padding: 10px
